.js_errorMessage {
    z-index: 99999;
}
.icoEl_flag:before {
    background-image: url('../img/RS.png');
}

.check_box_agree {
    margin: 5px 0;
    font-size: 12px;
    position: relative;
    z-index: 1000;
}

.check_box_agree input {
    margin: 5px 10px;
    display: inline
}

.check_box_agree a {
    border: 1px solid #8e8e8e;
    color: #8e8e8e;
    background-color: white;
    border-radius: 50%;
    padding: 0 6px
}

.check_box_agree a:hover {
    background-color: red;
    color: #ffffff;
    border: none
}

.checkbox_content p {
    color: #000000
}

.checkbox_content {
    background-color: #ffffff;
    position: absolute;
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    text-align: justify;
}

a.checkbox_close {
    color: #8e8e8e;
    font-size: 16px;
    float: right;
    border: none;
    background: transparent;
    margin-right: -10px;
    margin-top: -10px;
}


.__footer {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.618;
    margin-bottom: 57px;
}
.__footer .copyright {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    letter-spacing: 0.1em;
    word-spacing: 0.1em; 
}
.__footer p {
    display: block;
    margin-bottom: 0;
}
.__footer p a {
    text-decoration: none;
    color: #666;
    padding: 5px;
    display: inline-block;
    font-size: 17px;
}
.t-c {
    text-align: center;
}
.t-uc {
    text-transform: uppercase;
}
.__footer p a:hover {
    color: black;
}
.__footer p .sep {
    display: inline-block;
    position: relative;
    width: 1px;
    height: 100%;
    background-color: black;
    color: transparent;
}
.fz-small {
    font-size: 15px;
    padding: 0 15px;
    font-weight: 500;
}


.intro-img {
    position: relative;
    display: block;
    width: auto;
    margin: auto;
    max-height: 400px;

}

@media only screen and (min-width: 992px) {
    .intro-img {
         z-index: -1;
         left: -60px;
    }
}

@media only screen and (min-width: 1200px) {
    .intro-img {
        left: -130px;
        bottom: 10px;
    }
    .intro .info-circle {
        top: 10px;
        left: 280px;        
    }
}

.symptoms__img {
    margin-left: 0;
    margin-right: 0;
}

.small-img {
    position: relative;
    width: 100%;
    max-width: 120px;
    z-index: 1;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .small-img {
        left: 50px;
        max-width: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .small-img {
    }
}

.consist-img {
    display: block;
    width: 100%;
    max-width: 120px;
}

@media only screen and (min-width: 480px) {
    .consist .info-circle {
        right: -100px;
    }
}

@media only screen and (min-width: 992px) {
    .consist-img {

    }
}

@media only screen and (min-width: 1200px) {
    .consist-img {

    }

    .consist__text {

    }

    .consist .info-circle {
        right: 35px;
        top: -150px;
    }

    .consist .container {
        padding-bottom: 40px;
    }
}


.order-img {
    position: relative;
    top: 20px;
    display: block;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .order-img {

    }

    .order__product {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .order__product .order-img {
        max-width: 100px;
        margin-left: 0;
        top: -10px;
        left: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .order-img {

    }


}